:root{
    --tomato-color: #ff3838;
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey-color: hsl(231, 7%, 60%);
    --white-color: hsl(0, 0%, 100%);
    --start-color : var(--dark-slate-grey);
    --end-color:linear-gradient(45deg, #ff386a, #ff6738);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
    font-size: var(--font-size);
}
body{
    font-family: "Inter", sans-serif;
    background-color: var(--primary-color-yellow);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--charcoal-grey);
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    padding: 20px;
    background-color: var(--white-color);
    border-radius: 20px;
    display: flex;

}
main .right img{
    height: 100%;
}
main .left {
    padding: 30px ;
}
ul{
    list-style-type: none;
}
main .left h2{
    color: var(--charcoal-grey);
    margin: 20px 0 ;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 20px;
}
main .left p{
    color: var(--charcoal-grey);
    font-size: 12px;
    margin: 0 0 20px 0;
}
main .left ul li{
    font-size: 13px;
    display: flex;
    align-items: center;
    margin: 0 0 10px 0 ;
}
main .left ul li img{
    margin-right: 10px;
}
.inputs{
    margin-top: 35px;
}
.inputs h4{
    color: var(--charcoal-grey);
    font-size: 12px;
}
.inputs input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--grey-color);
    outline: none;
    padding: 20px;
    transition: all 0.3s ease;
    margin: 10px 0;
}
.inputs button{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border:none;
    outline: none;
    padding: 0 10px;
    margin: 5px 0;
    background-color: var(--start-color);
    color: var(--white-color);
    font-weight: bolder;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}
.inputs input:focus{
    border: 1px solid var(--dark-slate-grey);
}
.error{
    color: var(--tomato-color);
}
.inputs button:hover{
    background: var(--end-color);
    box-shadow: 0px 6px 20px var(--tomato-color);
}
.main{
    display: none;
}
.close{
    width: 100%;
    min-height: 50px;
    border-radius: 5px;
    border:none;
    outline: none;
    padding: 0 10px;
    margin: 5px 0;
    background-color: var(--start-color);
    color: var(--white-color);
    font-weight: bolder;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}
.close:hover{
    background: var(--end-color);
    box-shadow: 0px 6px 20px var(--tomato-color);
}
.active {
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.active img {
    width: 75px;
    margin-bottom: 10px;
}
.active h3{
    margin-top: 20px;
    font-size: 38px;
    font-weight: 800;
    color: var(--charcoal-grey);
    margin-bottom: 20px;
}
.active p {
    font-size: 13px;
    margin-bottom: auto;
}

.hide {
    display: none;
}
.active p span{
    font-weight: 600;
}
.hideen{
    opacity: 1;
    display: flex;
    transition: all 0.3s ease;
}
.hideen{
    height: 0;
    width: 0;
    opacity: 0;
    display: none;
}
.back{
    background-color: var(--charcoal-grey);
    border:none;
    width: fit-content;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}
main .head{
    display: none;
}
.main{
    width: 25vw;
}
